# K8s Cluster name and version
# ----------------------------
CLUSTER_PREFIX=devlocal
K8S_VERSION=1.30.2

# Minikube settings
# ----------------- 
CNI=calico
CPU=4
MEM=8192

# Minikube's Addon
# ----------------
ENABLE_MINIKUBE_INGRESS=true
ENABLE_MINIKUBE_DASHBOARD=true
ENABLE_MINIKUBE_METRICS_SERVER=true

# Local Domain
# -----------
# Replace This with a working DNS domain if you want e.g. example.com
DOMAIN=127-0-0-1.nip.io


# Argocd 
# ------
ARGOCD_VERSION=7.5.2
KUBESEAL_SECRET_KEY_FILE=.sealed-secret-key.yaml

### SSH KEY to access GIT REPOS
PATH_TO_SSH_KEY=~/.ssh/id_ed25519.argo

### SYSTEM App of apps
# This is where you add ARGOCD's to install dependencies that you need
# example, Kestra or Jenkins for CI/CD support, ISTIO, etc 
SYSTEM_APP_OF_APPS=""

### Application App of apps
# This is where you onboard Application to you need
APPLICATION_APP_OF_APPS=""

